<div ng-if="allowed" ng-controller="customerController">
    <div layout="row" class="layout-row" flex="50">
        <div flex="50">
            <md-card class="widgetAccountManager" ng-controller="myAccountManagerController">
                <header>Your Account Manager</header>
                <article>
                    <div layout="row" class="avatar"></div>
                    <div layout="row" class="name">
                        <h1>May Cunan</h1>
                    </div>
                </article>
                <footer>
                    <div layout="column" class="phone"><md-icon>phone</md-icon> (210) 240-8242</div>
                    <div layout="column"><md-icon>email</md-icon> <a href="mailto:may.cunan@gmail.com">may.cunan@gmail.com</a></div>
                </footer>
            </md-card>
        </div>
    </div>
</div>