body {
    background-color: #EAECED;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header-inner {
  max-width: 77em;
  margin: 0 auto;
}
.container {
    width: 100%;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    background: url('https://impulsealarm.com/wp-content/uploads/2016/01/landing-bg.jpg') no-repeat;
    color: #7D8890;
}

.container-box {
    max-width: 80em;
    margin: 0 auto;
}

.price-container {
    width: 65%;
    display: inline-block;
}

.col-3 {
  width: 29%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}

.price-table {
    border: 1px solid #E4701E;
    border-radius: 6px;
    background-color: #F1F1F1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

/*.price-table:hover ~ .form-container {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}*/

.form-container:visited {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.pick:hover {
  cursor: pointer;
}

.price-table div {

    padding: 15px 0px;
    border-bottom: 1px solid #DADADA;
}



.price-table div h1 {
    text-align: center;
    color: #fff;
    margin:0;
}

.price-table div i {
    padding: 0% 7%;
    color: #0061A8;
    display: inline-block;

}

.price-table div i img {
    width: 28px;
}

.price-table div span {
    width: 70%;
    display: inline-block;
}

.super {
    vertical-align: super;
}

.price-box {
    background-color: #E4701E;
    border-bottom: none !important;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

.pick {
    background-color: #E4701E;
    color: #fff;
    border-bottom: none !important;
    text-align: center;
    text-transform: uppercase;
}

.price-title {
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 0px !important;
    line-height: 3em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.blue {
     color: #0061A8;
}

.grey {
    color: #7E8890 !important;
}


.icon {
    display: inline-block;
    padding: 0% 7% !important;
    border-bottom: none !important;
}

.fa {
    font-size: 2em !important;
}

.icon-1:before {
    font-family: 'Nunito', sans-serif;
    content: "1";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.icon-7:before {
    font-family: 'Nunito', sans-serif;
    content: "7";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.icon-15:before {
    font-family: 'Nunito', sans-serif;
    content: "12";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 2px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.header {
    width: 100%;
    padding: 20px 0px;
    background-color: #1774A6;
}

.policies {
  width: 100%;
  background-color: #1774A6;
  color: #fff;
  margin-top: 100px;
}

.policies-inner {
  max-width: 77em;
  margin: 0 auto;
  padding: 30px 0px;
}

.policies p {
  font-size: .8em;
  line-height: 1.6em;
}
.policies h2 {
    color: #fefefe;
}

.footer {
  width: 100%;
  background-color: #eaeced;
  color: #878787;
  border-top: 5px solid #DADADA;
}

.footer-inner {
  max-width: 80em;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.powered {
  margin-top: 20px;
}

.powered a {
  margin: 0 20px;
}

.powered a img {

}

.copyright {
  font-size: .9em;
}

.copyright a {
  text-decoration: none;
  color: #0061A8;
}

.form-container {
    min-height: 510px;
    background: #0061A8;
    border-radius: 6px;
    vertical-align: top;
    color: #fff;
    margin-right: 0px!important;
    padding-left: 2%;
    padding-right: 2%;
    width: 27%;
    position: relative;
    background: url('https://impulsealarm.com/wp-content/uploads/2016/01/bg_blue-narrow.png');
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.form-container .gform_body ul {
  padding: 0 !important;
}

.form-container .gform_body li {
  display: block;
  list-style-type: none;
}

.form-container .gform_body li label, .form-container .gform_body li div {
  color: #fff;
  padding: 5px 0px;
}

.form-container .gform_body li input {
  display: block;
  width: 95%;
text-indent: 50px;
padding: 11px 5% 10px 0;
margin: 0 0 16px 0;
height: 24px;
border: 0;
outline: none;
-moz-box-shadow: none;
font: normal 18px/26px ProximaNova, arial, sans-serif;
color: #fff;
background-color: #59aad0;
background-color: rgba(172, 240, 246, 0.25);
background-repeat: no-repeat;
background-position: 5px 3px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}



::-webkit-input-placeholder {
  color: transparent;;
}
:-moz-placeholder {
  color: transparent;
}

::-moz-placeholder {
  color: transparent;
}

:-ms-input-placeholder {
  color: transparent;
}

.form-container .gform_body li input:focus {
  background-color: #7cc9e0;
background-color: rgba(172, 240, 246, 0.50);
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.form-container .gform_footer input[type="submit"] {
  width: 100%;
  padding: 15px 0px;
  background-color: #EC7009;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 6px 6px;
    font-family: 'Lato';
    cursor:pointer;
}

.validation_error {
  color: #B9B9B9;
  font-weight: 300;
}

.features {
  max-width: 80em;
  margin: 0 auto;
  display: none;
}

.features .column {
  width: 29%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}

.price-out {
  padding: 0!important;
  text-align: center;
}

.price-out img{
  width: 160px;
}

.logo {
  display: inline-block;
}

.logo img {
  height: 50px;
}

.adt-logo {
  display: inline-block;
  margin-left: 30px
}

.phone {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px !important;
}

.phone:before {
  font-family: 'FontAwesome';
  content: "\f095";
  margin-right: 10px;
}

.features .column h2 {
  border-bottom: 2px dashed #E4701E;
  font-family: 'Arvo', serif;
  line-height: 2em;
  color: #0061A8;
}

.features .column p {
  color: #7D8890;
  text-align: justify;
}

.features .column h2:before {
  content:"\f14a";
  font-family: 'FontAwesome';
  margin-right: 10px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)

  {

  .price-container {
    width: 100%;
  }
  .price-table {
    width: 90%;
    display: inline-block;
    float: left;

    margin: 0% 5%;
    margin-bottom: 70px;
  }

  .price-table div h1 {
    font-size: 5em;
  }

  .price-title {
    font-size: 3em;
  }
    .form-container {
      width: 90%;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0 5%;
    }

    .price-table div span {
      font-size: 3em;
    }
    .price-out img {
      width: 45%;
    }

    .fa {
      font-size: 4em !important;
    }

    .icon-1:before, .icon-7:before, .icon-15:before {
      font-size: 2em;
      padding: 7.5px 20px;
    }

    .logo {
      width: 90%;
      padding: 30px 5%;
      display: inline-block;
      float: left;
    }

    .logo img {
      height: 200px;
    }
    .adt-logo {
      width: 20%;
      padding-left: 2%;
      display: inline-block;
      float: left;
    }

    .adt-logo img {
      width: 100%
    }

    .phone {
      display: inline-block;
      width: 65%;
      font-size: 5em;

      float: left;
      color: #fff !important;
      margin-left: 8%;
    }

    .phone a {
      color: #fff;
      text-decoration: none;
    }

    .phone::before {
      font-size: 1em;
    }

    .header-inner::after {
      clear: both;
    }

    .header {
      width: 100%;
      min-height: 350px;
    }
    .header:after {
      clear: both;
    }

    .pick {
      font-size: .8em;
      padding: 30px 0px !important;
    }

    .footer-inner {
      width: 90%;
      padding: 40px 0px;
      font-size: 2em;
    }

    .row {
      display: inline-block;
      float: left;
      width: 100%;
    }

    .features .column {
      width: 90%;
      padding: 0 5%;
      display: inline-block;
      float: left;
      text-align: justify;
    }

    .features .column h2 {
      font-size: 4em;
    }

    .features .column p {
      font-size: 2em;
    }

    .form-container {
      border-radius: 0px !important;
      height: auto;
      min-height: 850px;
    }

    .form-container h2 {
      font-size: 3em;
    }

    .form-container .gfield_label {
      font-size: 2em;
    }

    .form-container .gform_body li input {
      height: 50px;
    }

    .form-container .gform_footer input[type="submit"] {
      height: 100px;
      -webkit-appearance: none;
border-radius: 0;
font-size: 3em;
    }

    .policies-inner {
      width: 90%;
    }

  }


  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 2)

    {

    .price-container {
      width: 100%;
    }
    .price-table {
      width: 90%;
      display: inline-block;
      float: left;

      margin: 0% 5%;
      margin-bottom: 70px;
    }

    .price-table div h1 {
      font-size: 5em;
    }

    .price-title {
      font-size: 3em;
    }
      .form-container {
        width: 90%;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0 5%;
      }

      .price-table div span {
        font-size: 3em;
      }
      .price-out img {
        width: 45%;
      }

      .fa {
        font-size: 4em !important;
      }

      .icon-1:before, .icon-7:before, .icon-15:before {
        font-size: 2em;
        padding: 7.5px 20px;
      }

      .logo {
        width: 90%;
        padding: 30px 5%;
        display: inline-block;
        float: left;
      }

      .logo img {
        height: 200px;
      }
      .adt-logo {
        width: 20%;
        padding-left: 2%;
        display: inline-block;
        float: left;
      }

      .adt-logo img {
        width: 100%
      }

      .phone {
        display: inline-block;
        width: 65%;
        font-size: 5em;

        float: left;
        color: #fff !important;
        margin-left: 8%;
      }

      .phone a {
        color: #fff;
        text-decoration: none;
      }

      .phone::before {
        font-size: 1em;
      }

      .header-inner::after {
        clear: both;
      }

      .header {
        width: 100%;
        min-height: 350px;
      }
      .header:after {
        clear: both;
      }

      .pick {
        font-size: .8em;
        padding: 30px 0px !important;
      }

      .footer-inner {
        width: 90%;
        padding: 40px 0px;
        font-size: 2em;
      }

      .row {
        display: inline-block;
        float: left;
        width: 100%;
      }

      .features .column {
        width: 90%;
        padding: 0 5%;
        display: inline-block;
        float: left;
        text-align: justify;
      }

      .features .column h2 {
        font-size: 4em;
      }

      .features .column p {
        font-size: 2em;
      }

      .form-container {
        border-radius: 0px !important;
        height: auto;
        min-height: 850px;
      }

      .form-container h2 {
        font-size: 3em;
      }

      .form-container .gfield_label {
        font-size: 2em;
      }

      .form-container .gform_body li input {
        height: 50px;
      }

      .form-container .gform_footer input[type="submit"] {
        height: 100px;
        -webkit-appearance: none;
  border-radius: 0;
  font-size: 3em;
      }

    }

.row {
  margin-top: 30px;
  min-height: 360px;

}


.row:after {
  clear: both;
}

.clear {
  clear: both;
}



}
