body {
    background-color: #EAECED;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header-inner {
  max-width: 80em;
  margin: 0 auto;
}
.container {
    width: 100%;
    padding-top: 100px;
    background: url('https://impulsealarm.com/wp-content/uploads/2016/01/landing-bg.jpg') no-repeat;
    font-family: 'Lato', sans-serif;
    color: #7D8890;
}

.container-box {
    max-width: 80em;
    margin: 0 auto;
}

.price-container {
    float: left;
    display: inline-block;
}

.price-table {
    border: 1px solid #E4701E;
    border-radius: 6px;

    display: inline-block;
    margin: 0 2%;
    background-color: #F1F1F1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.price-table:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.price-table div {

    padding: 15px 0px;
    border-bottom: 1px solid #DADADA;
}



.price-table div h1 {
    text-align: center;
    color: #fff;
    margin:0;
}

.price-table div i {
    padding: 0% 7%;
    color: #0061A8;
    display: inline-block;

}

.price-table div i img {
    width: 28px;
}

.price-table div span {
    width: 70%;
    display: inline-block;
}

.super {
    vertical-align: super;
}

.price-box {
    background-color: #E4701E;
    border-bottom: none !important;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

.pick {
    background-color: #E4701E;
    color: #fff;
    border-bottom: none !important;
    text-align: center;
    text-transform: uppercase;
}

.price-title {
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 0px !important;
    line-height: 3em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.blue {
     color: #0061A8;
}

.grey {
    color: #7E8890 !important;
}


.icon {
    display: inline-block;
    padding: 0% 7% !important;
    border-bottom: none !important;
}

.fa {
    font-size: 2em !important;
}

.icon-1:before {
    font-family: 'Nunito', sans-serif;
    content: "1";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.icon-7:before {
    font-family: 'Nunito', sans-serif;
    content: "7";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.header {
    width: 100%;
    padding: 20px 0px;
    background-color: #0064A9;
}

.footer {
  width: 100%;
  background-color: #dedede;
  margin-top: 50px;
  color: #878787;
}

.footer-inner {
  max-width: 80em;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-container {
    display: inline-block;
    float: left;
    min-height: 765px;
    background: #0061A8;
    border-radius: 6px;
    vertical-align: top;
    color: #fff;
    padding: 0px 30px;
    margin-right: 0px!important;
}

.form-container .gform_body ul {
  padding: 0 !important;
}

.form-container .gform_body li {
  display: block;
  list-style-type: none;
}

.form-container .gform_body li label, .form-container .gform_body li div {
  color: #fff;
  padding: 5px 0px;
}

.form-container .gform_body li input {
  display: block;
  width: 95%;
text-indent: 50px;
padding: 11px 5% 10px 0;
margin: 0 0 16px 0;
height: 24px;
border: 0;
outline: none;
-moz-box-shadow: none;
font: normal 18px/26px ProximaNova, arial, sans-serif;
color: #fff;
background-color: #59aad0;
background-color: rgba(172, 240, 246, 0.25);
background-repeat: no-repeat;
background-position: 5px 3px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.form-container .gform_footer input[type="submit"] {
  width: 100%;
  padding: 20px 0px;
  background-color: #EC7009;
  color: #fff;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
}

.validation_error {
  color: #B9B9B9;
  font-weight: 300;
}

.features {
  max-width: 80em;
  margin: 0 auto;
}

.features .column {
  display: inline-block;
  width: 25%;
  margin: 2%;
}

.price-out {
  padding: 0!important;
  text-align: center;
}

.price-out img{
  width: 160px;
}

.logo {
  display: inline-block;
}

.adt-logo {
  display: inline-block;
  margin-left: 30px
}

.phone {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 2em;
}

.phone:before {
  font: normal normal normal 30px/1 FontAwesome;
  content: "\f095";
  margin-right: 10px;
}
