<div ng-if="allowed" ng-controller="realtorDashController">
    <div class="col-md-2" style="height: 100%">

    </div>
    <div class="col-md-7">
        <div class="tableView">
            <md-card>
                <md-toolbar class="tableToolbar">
                    <h3>Your Referrals</h3>                    
                </md-toolbar>
                <table>
                    <thead>
                        <tr>
                            <th colspan="1">Name</th>
                            <th colspan="1">Phone</th>
                            <th colspan="1">Email</th>
                            <th colspan="1">Source</th>
                            <th colspan="1">Install Date</th>
                            <th colspan="1">Package</th>
                            <th colspan="1">Gift Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Penelope Cruz</td>
                            <td>(831) 631-5163</td>
                            <td>penelope@cruz.mx</td>
                            <td>-</td>
                            <td>02/05/2016</td>
                            <td>Pulse Security</td>
                            <td>$250</td>
                        </tr>
                        <tr>
                            <td>Penelope Cruz</td>
                            <td>(831) 631-5163</td>
                            <td>penelope@cruz.mx</td>
                            <td>-</td>
                            <td>02/05/2016</td>
                            <td>Pulse Security</td>
                            <td>$250</td>
                        </tr>
                        <tr>
                            <td>Penelope Cruz</td>
                            <td>(831) 631-5163</td>
                            <td>penelope@cruz.mx</td>
                            <td>-</td>
                            <td>02/05/2016</td>
                            <td>Pulse Security</td>
                            <td>$250</td>
                        </tr>
                    </tbody>
                </table>
            </md-card>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

