.wrapBridgeLogin {
    font-family: Lato, Sans-serif;
    font-weight: 100;
}
.titleBrdigeLogin {

    text-align: center;

    margin-top: 40px;

    margin-bottom: 66%;
}


/*
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .titleBrdigeLogin {
      margin-bottom: 30%;
    }
}

@media only screen
  and (min-device-width: 420px)
  and (max-device-width: 780px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .titleBrdigeLogin {
      margin-bottom: 55%;
    }
}*/

.formBridgeLogin {
    position: relative;
    width: 82%;
    margin: 0 auto;
}
.messageBridgeLogin {
    position: absolute;
}
.formBrdigeLoginCss {

}
.titleBrdigeLogin h1 {
    color: white;
    font-weight: 100;
    font-size: 45px;
}

.bridgeuser {
    width: 100%!important;
    background: transparent!important;
    border: none!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45)!important;
    border-right: 1px solid rgba(255, 255, 255, 0.45)!important;
    padding-left: 45px!important;
    color: rgb(255, 255, 255)!important;
    font-size: 15px;
    box-shadow: none!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    text-transform: lowercase;
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
    text-transform: lowercase;
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-transform: lowercase;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-transform: lowercase;
    font-weight: 300;
}

.bridgepassword {
    background: transparent!important;
    border: none!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45)!important;
    border-right: 1px solid rgba(255, 255, 255, 0.45)!important;
    padding-left: 45px!important;
    color: rgb(255, 255, 255)!important;
    font-size: 15px;
    box-shadow: none!important;
    width: 100%!important;
}

.bridgesubmit {
    width: 100%;
    padding: 25px;
}
p.inputWrapBrdige {
    position: relative;
}

p.inputWrapBrdige i.material-icons {
    position: absolute;
    top: 5px;
    left: 15px;
    color: white;
}

input.bridgesubmit {
    display: inline-block;
    position: relative;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

input.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input.blue {
    background-color: #1263aa;
    color: #fff;
}
.logoWrapBottom {
    width: 100%;
    height: 80px;
    text-align: center;
}
.logoWrapBottom img {
    height: 60%;
}
