<!doctype html>
<html lang="en" ng-app="impulseBridge">
<head>
    <base href="/bridge2/" />
    <meta charset="utf-8" />
    <title ng-bind="title">Brige</title>
    <link rel="stylesheet" href="style/main.css" />
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <link rel="stylesheet" href="style/ng.mat.min.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="ng/angular.min.js"></script>
    <script src="js/ngboot.min.js"></script>
    <script src="ng/angular-animate.min.js"></script>
    <script src="ng/angular-aria.min.js"></script>
    <script src="ng/angular-cookies.min.js"></script>
    <script src="ng/angular-loader.min.js"></script>
    <script src="ng/angular-message-format.min.js"></script>
    <script src="ng/angular-messages.min.js"></script>
    <script src="ng/angular-material.min.js"></script>
    <script src="ng/angular-resource.min.js"></script>
    <script src="ng/angular-route.min.js"></script>
    <script src="ng/angular-sanitize.min.js"></script>
    <script src="ng/angular-touch.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <md-content ng-controller="toolbarController">
        <md-toolbar class="mainToolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <span><a href="https://impulsealarm.com/bridge2/"><img style="height: 40px;" src="style/media/logo-bridge-white.png" /></a></span>
                </h2>
                <span flex></span>
                <md-button ng-click="logMeOut()" class="md-icon-button" aria-label="logout">
                    <md-icon>lock</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>

    <div ng-view ng-controller="rootController"></div>

    <script src="ng/ops/base.js"></script>
    <script src="ng/ops/cont.root.js"></script>
    <script src="ng/ops/cont.main.js"></script>
    <script src="ng/ops/cont.toolbar.js"></script>
    <script src="ng/ops/cont.myaccount.js"></script>
    <script src="ng/ops/cont.myaccountmgr.js"></script>
    <script src="ng/ops/cont.customer.js"></script>
    <script src="ng/ops/cont.login.js"></script>
    <script src="ng/ops/cont.realtor.dashboard.js"></script>
    <script src="ng/ops/routes/routes.js"></script>
</body>
</html>