/* Icon font used for interface elements */

@font-face {
  font-family: 'HarabaraMaisBold-HarabaraMaisBold';
  src: url('fonts/HarabaraMaisBold-HarabaraMaisBold.eot');
  src: url('fonts/HarabaraMaisBold-HarabaraMaisBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/HarabaraMaisBold-HarabaraMaisBold.woff') format('woff'),
       url('fonts/HarabaraMaisBold-HarabaraMaisBold.ttf') format('truetype'),
       url('fonts/HarabaraMaisBold-HarabaraMaisBold.svg#HarabaraMaisBold-HarabaraMaisBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-play, .icon-500px, .icon-tumblr, .icon-phone, .icon-gift, .header-nav a.nav-top-link.icon-search, .nav-top-link.icon-search, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-twitter, .icon-heart, .icon-envelop, .icon-tag, .icon-star, .icon-star-2, .icon-star-3, .icon-facebook, .icon-feed, .icon-close, .icon-checkmark, .icon-menu, .icon-plus, .icon-minus, .icon-instagram, .icon-google-plus, .icon-pinterest, .icon-search, .icon-skype, .icon-dribbble, .icon-users, .icon-certificate, .icon-expand, .icon-linkedin, .icon-map-pin-fill, .icon-pen-alt-fill, .icon-youtube, .icon-flickr, .icon-clock, .icon-inner, .icon-vk {
  font-family: "icomoon" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important; }

.icon-500px:before {
  content: "\e601"!important;
}
.icon-vk:before {
  content: "\e602"!important;
}
.icon-play:before {
  content: "\e605"!important;
}
.icon-tumblr:before {
  content: "\e603"!important;
}
.icon-phone:before {
  content: "\e600" !important; }

.icon-gift:before {
  content: "\e604" !important; }

.icon-angle-left:before {
  content: "\f104" !important; }

.icon-angle-right:before {
  content: "\f105" !important; }

.icon-angle-up:before {
  content: "\f106" !important; }

.icon-angle-down:before {
  content: "\f107" !important; }

.icon-twitter:before {
  content: "\e001" !important; }

.icon-heart:before {
  content: "\e000" !important; }

.icon-envelop:before {
  content: "\e003" !important; }

.icon-tag:before {
  content: "\e004" !important; }

.icon-star:before {
  content: "\e005" !important; }

.icon-star-2:before {
  content: "\e006" !important; }

.icon-star-3:before {
  content: "\e007" !important; }

.icon-facebook:before {
  content: "\e002" !important; }

.icon-feed:before {
  content: "\e008" !important; }

.icon-close:before {
  content: "\61" !important; }

.icon-checkmark:before {
  content: "\e00a" !important; }

.icon-menu:before {
  content: "\e00b" !important; }

.icon-plus:before {
  content: "\e00c" !important; }

.icon-minus:before {
  content: "\e00d" !important; }

.icon-instagram:before {
  content: "\e00e" !important; }

.icon-google-plus:before {
  content: "\e00f" !important; }

.icon-pinterest:before {
  content: "\e010" !important; }

.icon-search:before {
  content: "\e012" !important; }

.icon-skype:before {
  content: "\e011" !important; }

.icon-dribbble:before {
  content: "\e013" !important; }

.icon-users:before {
  content: "\e014" !important; }

.icon-certificate:before {
  content: "\f0a3" !important; }

.icon-expand:before {
  content: "\e015" !important; }

.icon-linkedin:before {
  content: "\e016" !important; }

.icon-map-pin-fill:before {
  content: "\e009" !important; }

.icon-pen-alt-fill:before {
  content: "\e017" !important; }

.icon-youtube:before {
  content: "\e018" !important; }

.icon-flickr:before {
  content: "\e019" !important; }

.icon-clock:before {
  content: "\e01a" !important; }

.icon-vk:before {
  content: "\f189" !important; }
