body{
  background: #edebeb;
}

.range-holder{
    margin: 3em auto;
    padding: 0 70px 60px;
    width: 100%;
    max-width: 60em;
    background: url("https://impulsealarm.com/wp-content/uploads/2016/01/pr-plan-scale.png") bottom center no-repeat;
    
}

.dragdealer {
  position: relative;
  height: 30px;
  background: #FFF;
  border-radius: 8px;
  border: 1px solid #a7a7a7;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
}

.stripe{
    background: #ddd  url("https://dl.dropboxusercontent.com/u/4277345/codepen/stripe-bg.png") top left repeat;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;
    height: 24px;
    border-radius: 8px;
}

    #green-highlight{position: absolute; top:0; left: 0px; height: 24px; opacity: .5; background: #8dc63f; display: none;}
    #orange-highlight{position: absolute; top:0; left: 381px; height: 24px; opacity: .5; background: #e07c00; display: none;}
    #blue-highlight{position: absolute; top:0; left: 814px; height: 24px; opacity: .5; background: #008da8; display: none;}

.square{
  position: absolute;
  top: 0;
  left: 0;    
  margin-top: -13px;
  margin-left: -10px;
  cursor: pointer;
  width: 50px;
  height: 37px;
  background: #505054;
  border-radius: 8px;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 13px;
}

.menu-line{width: 50%; margin: 2px auto; height: 5px; background: #FFF; display: block;}

.infobox{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -235px;
    margin-left: -117px;
    width: 260px;
    height: 190px;
    background: #FFF;
    padding: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #008da8 solid 2px;
}

    .infobox:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px 23px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -20px;
        left: 107px;
    }
    
    .infobox:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 21px 24px 0;
        border-color: #008da8 transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -23px;
        left: 106px;
    }
    
    .titlebar{
        background: #008da8;
        color: #FFF;
        padding: .5em;
     line-height: 1.5em;
        font-size: 15px;
    }
    #plan-holder{font-weight: bold;}
    
    .innerbox{
        padding: 1em;
    }
    
    .info-price{color: #e07c00; font-size: 33px; line-height: 1.8em;}

    
    .annual-label{
      color: #505054; font-size: 14px; font-weight: bold; width: 110px; line-height: 1.8em;}
    .annual-price{color: #939393; font-size: 17px; width: 110px;} 



.header-inner {
  max-width: 80em;
  margin: 0 auto;
}
.container {
    width: 100%;
    padding-top: 100px;
    background: url('https://impulsealarm.com/wp-content/uploads/2016/01/landing-bg.jpg') no-repeat;
    font-family: 'Lato', sans-serif;
    color: #7D8890;
}

.container-box {
    max-width: 80em;
    margin: 0 auto;
}

.price-table {
    border: 2px solid #E4701E;
    border-radius: 6px;
    vertical-align: top;
    width: 40%;
    display: inline-block;
    margin: 4%;
    position: relative;
    background-color: #F1F1F1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.price-table:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.price-table div {

    padding: 15px 0px;
    border-bottom: 1px solid #DADADA;
}



.price-table div h1 {
    text-align: center;
    color: #fff;
    margin:0;
}

.price-table div i {
    padding: 0% 7%;
    color: #0061A8;
    display: inline-block;

}

.price-table div i img {
    width: 28px;
}

.price-table div span {
    width: 70%;
    display: inline-block;
}

.super {
    vertical-align: super;
}

.price-box {
    background-color: #E4701E;
    border-bottom: none !important;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

.pick {
    background-color: #E4701E;
    color: #fff;
    border-bottom: none !important;
    text-align: center;
    text-transform: uppercase;
}

.price-title {
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 0px !important;
    line-height: 3em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.price-table-container {
    margin: 0 auto;
    width: 100%;
    max-width: 67.3em;
    text-align: center;
}

.blue {
     color: #0061A8;
}

.grey {
    color: #7E8890 !important;
}


.icon {
    display: inline-block;
    padding: 0% 7% !important;
    border-bottom: none !important;
}

.fa {
    font-size: 2em !important;
}

.icon-1:before {
    font-family: 'Nunito', sans-serif;
    content: "1";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.icon-7:before {
    font-family: 'Nunito', sans-serif;
    content: "7";
    background-color: #0061A8;
    font-size: 20px;
    color: #fff;
    padding: .5px 8px;
    border-radius: 50%;
    margin-top: -5px;
    font-style: normal;
}

.header {
    width: 100%;
    padding: 20px 0px;
    background-color: #0064A9;
}

.footer {
  width: 100%;
  background-color: #dedede;
  margin-top: 50px;
  color: #878787;
}

.footer-inner {
  max-width: 80em;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-container {
    display: inline-block;
    width: 28%;
    min-height: 765px;
    background: #0061A8;
    border-radius: 6px;
    vertical-align: top;
    color: #fff;
    padding: 0px 30px;
    float: right;
    margin-right: 0px!important;
}

.form-container .gform_body ul {
  padding: 0 !important;
}

.form-container .gform_body li {
  display: block;
  list-style-type: none;
}

.form-container .gform_body li label, .form-container .gform_body li div {
  color: #fff;
  padding: 5px 0px;
}

.form-container .gform_body li input {
  display: block;
  width: 95%;
text-indent: 50px;
padding: 11px 5% 10px 0;
margin: 0 0 16px 0;
height: 24px;
border: 0;
outline: none;
-moz-box-shadow: none;
font: normal 18px/26px ProximaNova, arial, sans-serif;
color: #fff;
background-color: #59aad0;
background-color: rgba(172, 240, 246, 0.25);
background-repeat: no-repeat;
background-position: 5px 3px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.form-container .gform_footer input[type="submit"] {
  width: 100%;
  padding: 20px 0px;
  background-color: #EC7009;
  color: #fff;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
}

.validation_error {
  color: #B9B9B9;
  font-weight: 300;
}

.features {
  max-width: 80em;
  margin: 0 auto;
}

.features .column {
  display: inline-block;
  width: 25%;
  margin: 2%;
}

.price-out {
  padding: 0!important;
  text-align: center;
}

.price-out img{
  width: 160px;
}

.logo {
  display: inline-block;
}

.adt-logo {
  display: inline-block;
  margin-left: 30px
}

.phone {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 2em;
}

.phone:before {
  font: normal normal normal 30px/1 FontAwesome;
  content: "\f095";
  margin-right: 10px;
}

#pick, #pick1 {
    color:#fff;
}

#price {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}


@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 736px) {
    .price-table {
      width: 93%;
      margin-bottom: 5% !important;
    }
    h1 {
      font-size: 4em !important;
    }
    .range-holder {
        margin: 3em auto;
        padding: 0 70px 60px;
        width: 80%;
        max-width: 60em;
        text-align: center;
    }
    .dragdealer {
      height: 5em;
    }
    .stripe {
      height: 5em;
    }
    .square {
      height: 6em;
      width: 80px;
    }
    .menu-line {
      width: 50%;
      margin: 0.5em auto;
      height: 1em;
      background: #FFF;
      display: block;
    }
    price-table div h1 {
    font-size: 5em;
  }

  .price-title {
    font-size: 3em;
  }
    .form-container {
      width: 90%;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0 5%;
    }

    .price-table div span {
      font-size: 3em;
    }
    .price-out img {
      width: 45%;
    }

    .fa {
      font-size: 4em !important;
    }

    .icon-1:before, .icon-7:before {
      font-size: 2em;
      padding: 7.5px 20px;
    }

    .logo {
      width: 90%;
      padding: 30px 5%;
      display: inline-block;
      float: left;
    }

    .logo img {
      width: 100%;
    }
    .adt-logo {
      width: 20%;
      padding-left: 2%;
      display: inline-block;
      float: left;
    }

    .adt-logo img {
      width: 100%
    }

    .phone {
      display: inline-block;
      width: 65%;
      font-size: 5em;

      float: left;
      color: #fff !important;
      margin-left: 8%;
    }

    .phone a {
      color: #fff;
      text-decoration: none;
    }

    .phone::before {
      font-size: 1em;
    }

    .header-inner::after {
      clear: both;
    }

    .header {
      width: 100%;
      min-height: 350px;
    }
    .header:after {
      clear: both;
    }

    .pick {
      font-size: .8em;
      padding: 30px 0px !important;
    }

    .footer-inner {
      width: 90%;
      padding: 40px 0px;
      font-size: 2em;
    }

    .row {
      display: inline-block;
      float: left;
      width: 100%;
    }

    .features .column {
      width: 90%;
      padding: 0 5%;
      display: inline-block;
      float: left;
      text-align: justify;
    }

    .features .column h2 {
      font-size: 4em;
    }

    .features .column p {
      font-size: 2em;
    }
    .features .column {
      display: block !important;
      width: 88% !important;
      margin: 0% !important;
    }
    .fa {
        font-size: 4em !important;
    }
  }

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .price-table {
      width: 93%;
      margin-bottom: 5% !important;
    }
    h1 {
      font-size: 4em !important;
    }
    .range-holder {
        margin: 3em auto;
        padding: 0 70px 60px;
        width: 80%;
        max-width: 60em;
        text-align: center;
        background-size: contain;
    }
    .dragdealer {
      height: 5em;
    }
    .stripe {
      height: 5em;
    }
    .square {
      height: 6em;
      width: 80px;
    }
    .menu-line {
      width: 50%;
      margin: 0.5em auto;
      height: 1em;
      background: #FFF;
      display: block;
    }
    price-table div h1 {
    font-size: 5em;
  }

  .price-title {
    font-size: 3em;
  }
    .form-container {
      width: 90%;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0 5%;
    }

    .price-table div span {
      font-size: 3em;
    }
    .price-out img {
      width: 45%;
    }

    .fa {
      font-size: 4em !important;
    }

    .icon-1:before, .icon-7:before {
      font-size: 2em;
      padding: 7.5px 20px;
    }

    .logo {
      width: 90%;
      padding: 30px 5%;
      display: inline-block;
      float: left;
    }

    .logo img {
      width: 100%;
    }
    .adt-logo {
      width: 20%;
      padding-left: 2%;
      display: inline-block;
      float: left;
    }

    .adt-logo img {
      width: 100%
    }

    .phone {
      display: inline-block;
      width: 65%;
      font-size: 5em;

      float: left;
      color: #fff !important;
      margin-left: 8%;
    }

    .phone a {
      color: #fff;
      text-decoration: none;
    }

    .phone::before {
      font-size: 1em;
    }

    .header-inner::after {
      clear: both;
    }

    .header {
      width: 100%;
      min-height: 350px;
    }
    .header:after {
      clear: both;
    }

    .pick {
      font-size: .8em;
      padding: 30px 0px !important;
    }

    .footer-inner {
      width: 90%;
      padding: 40px 0px;
      font-size: 2em;
    }

    .row {
      display: inline-block;
      float: left;
      width: 100%;
    }

    .features .column {
      width: 90%;
      padding: 0 5%;
      display: inline-block;
      float: left;
      text-align: justify;
    }

    .features .column h2 {
      font-size: 4em;
    }

    .features .column p {
      font-size: 2em;
    }
    .features .column {
      display: block !important;
      width: 88% !important;
      margin: 0% !important;
    }
    .fa {
        font-size: 4em !important;
    }
  }