/* ng overrides */
md-content {
    background: transparent!important;
}

/* bootstrap overrides */

body {
    font-family: 'Roboto', Arial, sans-serif!important;
    /* background-image: url("https://impulsealarm.com/wp-content/uploads/2016/02/gg-bridge-1920x1080.jpg")!important; */
    background-color: #e3e3e2!important;
    -webkit-background-size:cover!important;
    background-size:cover!important;
    background-repeat:no-repeat!important;
}

/* custom styles */


.mainToolbar {
    background-color: #e66025!important;
}

.widgetAccountManager header {
    padding: 10px 0 5px 10px;
    border-bottom: 2px solid #E66025;
    height: 37px;
}

.widgetAccountManager article {
    overflow: hidden;
    height: 100px;
    width: 100%;
}

.widgetAccountManager article .avatar {
    height: 100%;
    width: 25%;
    float: left;
}


.widgetAccountManager article .name {
    width: 75%;
    float: right;
    height: 100%;
}

.widgetAccountManager article .name h1 {
    font-weight: 100;
    margin-left: 5px;
}

.widgetAccountManager footer {
    height: 60px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
}

.widgetAccountManager footer .phone {
    color: #899299;
}

.widgetAccountManager footer md-icon {
    color: #BEC0C1;
}

.message {
    padding: 20px;
    margin-bottom: 20px
}

.message.error {
    background: #F57E7D;
    color: rgba(0, 0, 0, 0.5);
}

.message.ok {
    background: #82CF85;
    color: rgba(0, 0, 0, 0.5);
}

table {
    width: 100%!important;
}
.tableToolbar {
    background: white!important;
    color: #111!important;
    padding: 15px!important;
    min-height: 42px!important;
}

th, td {
    padding: 10px!important;
}
thead tr {
    background: #e66025!important;
    color: white;
}
tr:hover {
    background: rgba(0, 0, 0, 0.14)!important;
}

/* global options */

* {
    -webkit-transition: all 100ms ease-out 100ms;
    -moz-transition: all 100ms ease-out 100ms;
    -o-transition: all 100ms ease-out 100ms;
    transition: all 100ms ease-out 100ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}